<div class="container">
  <div>
    <div class="jumbotron"><h1><%=@user.username %> </h1></div>
    <br><br><br>
    <img src="<%= @user.image_url %>" class="profilePic profilePicLarge">
    <h4><%=@user.email %> </h4>
    <h4>Total Karma <%= user_karma_tally(@user) %> </h4>
    <%= user_praise_tally(@user) %> <small>praises</small>
    <br>
    <%= user_shame_tally(@user) %> <small>shames</small>
    <br>
    <%= @user.total_deeds %> <small>total deeds</small>
  </div>
  <hr/>
  <div>
    <% if worst_deed = get_worst_deed(@user) %>
      <h3><i> Most Shameful Deed </i></h3>
      <br>
      <%= erb :'./deeds/_show', layout: false, locals: {all_details: false, deed: worst_deed} %>
    <% end %>
  </div>

  <button class="btn btn-default center-block" id="users-profile-show-all" data-user-id="<%= @user.id %>">
    Show all of <%= @user.username %>'s posts
    <br>
    <span class="glyphicon glyphicon-triangle-bottom"></span>
  </button>

  <div id="user-deeds-container" class="hidden">
    <br>
    <h3><i> Previous Deeds </i></h3>
    <br>
  </div>
  <img src="/img/loader.gif" class="loading center-block hidden" id="user-loader-gif"/>
  <br>
  <div id="footer" class="jumbotron hidden"><i><h2 class="text-center">-no more deeds-</h2></i></div>
</div>
