<header class="intro-header profile-img"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading header-text-blur">
                    <h1><%= @user.username %></h1>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
  <div class="row" >
    <div class="col-md-3 text-center">
      <img src="<%= @user.image_url %>" class="profilePic profilePicLarge">
      <h4><%=@user.email %> </h4>
    </div>
    <div class="col-md-8"> 
      <div class="row">
        <div class="col-md-3 karma-status-text"> 
          <h4> Karma </h4> 
        </div>
        <div class="col-md-3 karma-status-text"> 
          <h4> Praises </h4> 
        </div>
        <div class="col-md-3 karma-status-text"> 
          <h4> Shames </h4> 
        </div>
        <div class="col-md-3 karma-status-text"> 
          <h4> Deeds</h4> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"> 
          <p class="karma-num" id="<%= total_karma_id(@user) %>"><%= user_karma_tally(@user) %> </p>
        </div>
        <div class="col-md-3"> 
          <p class="karma-num"><%= user_praise_tally(@user) %></p>
        </div>
        <div class="col-md-3"> 
          <p class="karma-num"><%= user_shame_tally(@user) %> </p>
        </div>
        <div class="col-md-3"> 
          <p class="karma-num"><%= @user.total_deeds %> </p>
        </div>
      </div>
      <div class="row">
      <h1 class="text-center" style="color:green"> $<%= @user.total_donations %> Donated</h1>
      </div>
    </div>
  </div>
  <hr/>

  <div class="row" id="deeds_container">
    <% if worst_deed = get_worst_deed(@user) %>
      <h3><i> Most Shameful Deed </i></h3>
      <br>
      <%= erb :'./deeds/_show', layout: false, locals: {all_details: false, deed: worst_deed} %>
    <% end %>
  </div>

  <button class="btn btn-primary center-block" id="users-profile-show-all" data-user-id="<%= @user.id %>">
    Show all of <%= @user.username %>'s posts
    <br>
    <span class="glyphicon glyphicon-triangle-bottom"></span>
  </button>

  <div id="user-deeds-container" class="hidden">
    <br>
    <h3><i> Previous Deeds </i></h3>
    <br>
  </div>
  <img src="/img/loader.gif" class="loading center-block hidden" id="user-loader-gif"/>
  <br>
  <div id="footer" class="jumbotron hidden"><i><h2 class="text-center">-no more deeds-</h2></i></div>
</div>
