
<!-- <img src="<%=current_user.image_url%>" alt="user's prof pic">  -->
<%= erb :sidebar %>
<div class="user_profile_page_outer_container">
  <div>
    <h4>Name: <%=current_user.username %> </h4>
    <h4>Email: <%=current_user.email %> </h4>
    <h4>Total Karma: <%=user_karma_tally(current_user)%> </h4>
  </div>
  <hr/>
  <div>
    <img src="/img/icon.jpg">
    <h3> Worst Deed: </h3> <br/>
    <% worst_deed = current_user.get_worst_deed %>
    <% num_shames = deed_shame_tally(worst_deed) %>
    <p> Forgive me father for <%= worst_deed.summary %>, which has <%= num_shames %>
        <% if num_shames == 1 %>
          shame
        <% else %>
          shames
        <% end %>
    </p>
  </div>
</div>


