<% deed = locals[:deed] %>
<% all_details = locals[:all_details] %>
<% num_comments = deed_comments_tally(deed) %>
<% vote_button_type = all_details ? "button" : "div" %>
<div class="row">
  <div class="col-sm-12">
    <div class="col-xs-2 col-md-1">
    <!-- The buttons column -->
      <div class="row">
        <<%= vote_button_type %> class="<%=praise_class(deed)%>" data-deed-id = "<%=deed.id%>">
        </<%= vote_button_type %>>
        <span class="badge praisebadge">
          <%= deed_praise_tally(deed) %>
        </span>
      </div>
      <div class="row">
        <<%= vote_button_type %> class="<%=shame_class(deed)%>" data-deed-id = "<%=deed.id%>">
        </<%= vote_button_type %>>
        <span class="badge shamebadge">
          <%= deed_shame_tally(deed) %>
        </span>
      </div>
    </div>

    <div class="col-xs-10   col-md-8">
      <% if all_details %>
        <div class="col-md-3">
        <img src="<%= deed.user.image_url %>" class="profilePic"/>
        </div>
      <% end %>
      <div class="col-md-9">
        <div class="deed-summary">
          <strong><%= deed.summary %></strong>
        </div>
        <br>
        <i><%= datetime_to_modern(deed.created_at) %></i> by <a href="/users/<%= deed.user.id %>"><%= deed.user.username  %></a>
        <br><br>
        <button type="button" class="btn-link" data-deed-id= <%=deed.id%> class="show-comments"> <span id="comment-tally-<%=deed.id%>"><%=num_comments%></span> Comments </button>
        <button type="button" id="post-comment-<%=deed.id%>" data-deed-id = <%=deed.id%> class="btn-link"> Post a Comment </button>
        <br>
        <form  class="comment-holder" id="form-comment-<%=deed.id%>">
          <input type="text" data-deed-id= <%=deed.id%> id="input-<%=deed.id%>" name="content" class="form-control comment" rows="4" placeholder="Post a comment..."/>
        </form>
        <span class="comment_error" id="comment_error-<%=deed.id%>">Your comment cannot be blank</span> <br>
        <img src="/img/loader.gif" class="loading center-block hidden" id="loader-gif-<%=deed.id%>"/>
        <div class="comment-holder" id="comments-<%=deed.id%>" ></div>  
        <br>

      </div>
    </div>
  </div>
</div>

<br>