<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%= "class=\"active\"" if request.path_info == "/" %>><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li <%= "class=\"active\"" if request.path_info == "/users/#{current_user.id}" %>><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
          <li><a href="/users/logout">Logout<span class="sr-only">(current)</span></a></li>
        <% else %>
          <li>
            <div class="dropdown navbar-btn">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Login
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <%= get_login_dropdown_user_list %>
              </ul>
            </div>
          </li>
          <li>
            <button type="button" class="btn btn-default navbar-btn" onclick="location.href='/users/signup';" value="Go to Sign Up">Sign Up</button>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
